.datasets-container {
  display: flex;
  height: 100%;
}

.sidebar {
  width: 280px;
  background: #1c1c1c;
  color: white;
  padding: 1rem;
  overflow-y: auto;
}

.main-panel {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}

.section-block {
  margin-bottom: 1rem;
}

.scrollable {
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 0.5rem;
}


.tables-list, .relations-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.table-item {
  margin-bottom: 10px;
  background: #222;
  border-radius: 8px;
  overflow: hidden;
}

.table-header {
  background: #333;
  padding: 8px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}

.table-header:hover {
  background: #444;
}

.column-list {
  background: #2a2a2a;
  padding: 8px 16px;
}

.column-list li {
  color: #ccc;
  margin: 4px 0;
}

.hidden {
  display: none;
}


#filtrosContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 6px;
}

.filtro-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #f9f9f9;
}

.filtro-item select,
.filtro-item input {
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #aaa;
}

.btn-remove {
  background: #c0392b;
  color: #fff;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}
.btn-remove:hover {
  background: #e74c3c;
}
