.grid-panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 30px;
  }

  .formulario-actualizacion {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  }

  .formulario-actualizacion textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    resize: vertical;
  }

  .formulario-actualizacion button {
    margin-top: 15px;
    padding: 10px;
    background-color: #0077b6;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
  }

  .formulario-actualizacion button:hover {
    background-color: #005f87;
  }

  .historial {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 10px;
    white-space: pre-wrap;
    min-height: 300px;
    height: 100%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
  }

  h2 {
    margin-top: 0;
  }